body {
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #fffff8;
    line-height: 1.3;
}

pre > span, code {
    font-family: "Iosevka Web", Iosevka, monospace;
    font-size: 85%;
}

article {
    max-width: 60rem;
    margin: 0 auto;
}

table {
  border-spacing: 0;
  width: 100%;
  border-bottom: 0.15rem solid #171d30;
  border-top: 0.15rem solid #171d30;
}

th, td {
  padding: 5px 15px 5px 15px;
  text-align: left;
}

th {
    border-bottom: 1px solid #222;
}
